{% load i18n static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_CODE == 'fa' or LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Registration Successful" %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    
</head>
<body class="auth-page">
    <div class="card wide">
        <h2>{% trans "Registration Successful!" %}</h2>
        <p>{% trans "Your account has been created, but it requires administrator approval to become active." %}</p>
        <p>{% trans "An email has been sent to the admin. You will be able to log in once they activate your account." %}</p>
        <a href="{% url 'dashboard' %}" class="btn">{% trans "Return to Dashboard" %}</a>
    </div>
</body>
</html>
